.coin-cards-container {
  /*border: 2px solid red;*/
  margin-top: 20px;
}

.coin-card {
  /*border: 2px solid green;*/
  height: 65px;
  display: flex;
}
.icon {
  position: relative;
  width: 65px;
  height: 65px;
}
.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}
.icon-flex > img {
  width: 50px;
  height: 50px;
}
.icon-flex > .percentage {
  position: absolute;
  top: 3px;
  right: 3px;
  width:20px;
  height:20px;
  border-radius:10px;
  font-size:8px;
  color:#fff;
  line-height:20px;
  text-align:center;
  background:#000
}
.coin-info {
  /*border: 2px solid red;*/
  width: 50%;
}
.coin-name {
  margin-top: 10px;
  /*font-weight: bold;*/
  font-size: 18px;
  margin: 0;
  margin-top: 4px;
  margin-left: 6px;
}
.coin-price {
  font-size: 12px;
  margin: 0;
  margin-left: 6px;
}


.holdings-info {
  width: 30%;
  /*border: 2px solid blue;*/
}
.holdings-value {
  /*font-weight: bold;*/
  font-size: 16px;
  margin: 0;
  margin-top: 6px;
}
.holdings-amount {
  font-size: 12px;
  margin: 0;
}
