/* MAIN */
.container-main {
  height: 100vh;
  max-width: 450px;
  margin: 0 auto;
  background-color: #f0f7ff;
  background-color: #1d4a7e;
  background-color: #476080;
  background-color: #16365f;
  background-color: #1d283b;
  color: white;
}
.margin-l-r-cointainer {
  margin-left: 45px;
  margin-right: 45px;
}

/* HEADER */
.header {
  margin-bottom: 17px;
  padding-top: 35px;
}
